
{% extends "parent.html" %}


{% block title %}
Video - 
{% endblock %}


{% block body %}

<h2>{{ video.title }}</h2>

	<div class="sidenav">
		<a href="/">Home</a>
        {% for key, value_list in class_dic.items %}
            <p>
                <h1 style="background-color:white;">{{ key }} </h1>
                {% for layer2 in value_list  %}
                    <h2 style="background-color:white;"> {{ layer2.smallchapter }} </h2>
                {% endfor %}
            </p>
        {% endfor %}

	</div>

    <div class="ui left demo vertical inverted sidebar labeled icon menu">
      <a class="item">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item">
        <i class="block layout icon"></i>
        Topics
      </a>
      <a class="item">
        <i class="smile icon"></i>
        Friends
      </a>
    </div>

        <iframe src="https://drive.google.com/file/d/1vOTXB2i033FPaI6fPdSih676GXSf7mfm/preview" width="640" height="480" allowfullscreen="true"></iframe>


        <--video  oncontextmenu="return false;"   width='80%' height='60%' autoplay controls controlsList="nodownload" >
            <--source src={{ video.path }} type="video/mp4">
          Your browser does not support the video tag.
          <--/video>

        <p>{{ video.description }}</p>
        <br><br>
        <h3>Comments</h3>
    </div>

    {% if form %}
    <form action="/comment" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type='hidden' name='video' value='{{ video.id }}'>
        <br>
        <button type="submit" class="btn btn-primary">Post Comment!</button>
    </form>
    {% endif %}

    {% for comment in comments %}
        <p>
        {{ comment.user }} posted on: {{ comment.datetime }} <br>
        {{ comment.text }}
        </p>
    {% endfor %}




{% endblock %}


